<div class="success-container">
    <div class="tick"></div>
    <h2>Congratulations!</h2>
    <p>You claimed <strong><%= product.name %></strong></p>
    <img src="<%= product.image %>" class="reward-img" alt="<%= product.name %>">
    <a href="/" class="back-btn">Back to Store</a>
</div>
